<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            background-color: #F8F1E6;
            font-family: Tahoma, sans-serif;  
        }        
        h2 {
            color:#7F3600;
        }
        .mail {
            width: 450px;
            height: 340px;
        }
        h3 {
            color: #235F13;
        }
    </style>
</head>
<body>
    <div class="mail">
        <div align="center">
            <img src="{{img}}" width="270px" height="125px">
        </div>
        <h2><b>Contact</b></h2>
        <p>{{message}}</p>
        <h5>{{name}}<br>{{email}}</h5>
    </div>
</body>
</html>